html {
    background: #F5F5F5;
    font-family: sans-serif;
}

.wrapper {
    width: 1200px;
    height: 1300px;
    margin: 0 auto;
    background: #ffffff;
}


.wrapper_left {
	height: 100%;
	width: 10%;
	padding-right: 68px;
	background-color: #3e4650;
	position: fixed;
}

.header {
	margin-top: 10px;
	margin-left: 200px;
	float: right;
	text-align: center;
	border-top: 30px solid #e7ebeb;
	border-left: 40px solid #e7ebeb;
	border-bottom: 1000px solid #e7ebeb;
	border-right: 40px solid #e7ebeb;
}

h2 {
	padding: 0px 320px 0px 320px;
}

.add_tasks {
 	background-color: #f7f8f8;
	height: 100px;
	width: 930px;
	margin-top: 50px;
}

button {
	font-size: 15pt;
	margin-top: 20px;
	text-decoration: none;
	background-color: #009fe4;
	color: #FFFFFF;
	padding: 15px 45px 15px 45px;
	border-radius: 5px;
}

.text { 
	line-height: 2em;
}

.text a {
	text-decoration: none;
	color: #0190de;
}

.images_like {
	margin: 50px;
}

.like {
	background-color: #f7f8f8;
	padding-top: 40px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	border: 1px solid #e8ecec;
}

.select {
	font-weight: 600;
}

.bunner {
	width: 180px;
	float: left;
	background-color: #2d3541;
	padding: 10px;
	margin-bottom: 0px;
}

.search {
	width: 180px;
	float: left;
	padding: 30px 10px 30px 10px;
	border-bottom: 1px solid  #2d3541;
	background: url(../images/search.png) no-repeat #3e4650;
	background-position: center left 25px;
}

.images {
	background-repeat: no-repeat;
}


.filter {
	width: 180px;
	float: left;
	padding: 30px 10px 30px 10px;
	background: url(../images/filter.png) no-repeat #3e4650;
	background-position: center left 25px;
}

.task {
	width: 178px;
	float: left;
	padding: 30px 10px 30px 10px;
	margin: 0px;		
	border-left: 5px solid #00a0e1;
	background: url(../images/tasks.png) no-repeat #e7ebeb;
	background-position: center left 25px;
}

.staticks {
	width: 180px;
	float: left;
	padding: 30px 10px 30px 10px;
	border-bottom: 1px solid  #2d3541;
	background: url(../images/statistics.png) no-repeat #3e4650;
	background-position: center left 25px;
}

.navigation_bar a {
	text-decoration: none;
	color: #ffffff;
	padding: 50px;
}


.navigation_bar1 a {
	text-decoration: none;
	color: #00a0e1;
	padding: 50px;
}

.options {
	width: 180px;
	float: left;
	padding: 30px 10px 30px 10px;
	vertical-align: bottom;
	border-bottom: 1px solid #2d3541;
	background: url(../images/options.png) no-repeat #3e4650;
	background-position: center left 25px;
}

form {
	float: right;
	margin: 10px 30px 0px 10px;
	border: 2px solid #e7ebeb;
 	padding: 2px 2px 2px 30px; 
	background: url(../images/se.png) no-repeat center left #e7ebeb;
	
}

.submit_btn {
	border: none;
	background-color: #e7ebeb;
}

.add_text {
	border: none;
	background-color: #FFFFFF;
}

#user{
	height: 30px;
}
input[type="text"]:focus { 
	outline: none;
}






